<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanul.mybatis.testMapper.xml">

	<!-- DB에 저장된 max 수험번호 가져오기-->
	<select id="checkCode" resultType="int">
		select max(code) from student
	</select>
	
	<!-- DB에 수험생 등록 -->
	<insert id="getStudent" parameterType="com.hanul.dto.StudentDTO">
		insert into student (code, name, subject, day) values (#{code}, #{name}, '미응시', '미응시')
	</insert>
	
	<!-- 등록된 수험생인지 확인 -->
	<select id="checkStudent" parameterType="com.hanul.dto.StudentDTO" resultType="String">
		select code from student where code = #{code} and name = #{name}
	</select>
</mapper>
