<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanul.mybatis.boardMapper.xml">
	<!-- SQL 문장작성-->
	<select id="boardSearchAll" resultType="BoardDTO">
		select * from tblBoard order by b_num desc
	</select>
	
	<insert id="boardInsert" parameterType="BoardDTO">
		insert into tblBoard(b_num, b_subject, b_pwd, b_content, b_writer, b_date, b_readcount)
			values(b_num_seq.nextval, #{b_subject}, #{b_pwd}, #{b_content}, #{b_writer}, sysdate, 0)
	</insert>
</mapper>