<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanul.mybatis.testMapper.xml">

	<!--(1) DB에 저장된 max 수험번호 가져오기-->
	<select id="checkCode" resultType="int">
		select max(code) from student
	</select>
	
	<!-- DB에 수험생 등록 -->
	<insert id="getStudent" parameterType="com.hanul.dto.StudentDTO">
		insert into student (code, name, subject, day) values (#{code}, #{name}, '미응시', '미응시')
	</insert>
	
	<!-- 등록된 수험생인지 확인 -->
	<select id="checkStudent" parameterType="com.hanul.dto.StudentDTO" resultType="String">
		select code from student where code = #{code} and name = #{name} and score is not null
	</select>
	
	<!--(2) 시험과목 등록 -->
	<update id="subject" parameterType="com.hanul.dto.StudentDTO">
		update student set subject = #{subject}, day = sysdate where code = #{code}
	</update>
	<!-- 시험제출 -->
	<insert id="testInsert" parameterType="com.hanul.dto.TestAnswerDTO">
		insert into testanswer (code, subject, test1,test2,test3,test4,test5,test6,test7,test8,test9,test10) 
		values(#{code}, #{subject}, #{test1}, #{test2}, #{test3}, #{test4}, #{test5}, #{test6}, #{test7}, #{test8}, #{test9}, #{test10})
	</insert>
	
	<!-- (3)수험자 입력답안 확인 -->
	<select id="inputAnswerSearch" parameterType="int" resultType="TestAnswerDTO">
		select * from testanswer where code = #{code}
	</select>
	
	<!-- 정답 확인 -->
 	<select id="answerSearch" resultType="AnswerDTO">
		select * from answer
	</select>
	
	<!-- 수험자 과목  확인 -->
	<select id="searchSubject" resultType="String">
		select subject from testanswer where code = #{code} 
	</select>
	
	<!-- 과목 정답 확인-->
	<select id="answerList" parameterType="String" resultType="AnswerDTO">
		select * from answer where subject = #{subject}
	</select>
	
	<!-- 수험자 점수 등록 -->
	<update id="scoreUpdate" parameterType="studentDTO">
		update student set score = #{score} where code = #{code}
	</update>
	
	<!-- 수험자 합격 등록 -->
	<update id="passSucc" parameterType="studentDTO">
		update student set pass = '합격' where code = #{code}
	</update>
	
	<!-- 수험자 불합격 등록 -->
	<update id="passFail" parameterType="studentDTO">
		update student set pass = '불합격' where code = #{code}
	</update>
	
	<!-- (4)응시결과 확인 -->
	<select id="resultList" parameterType="com.hanul.dto.StudentDTO" resultType="StudentDTO">
		select * from student where code = #{code}
	</select>
	
	
</mapper>
